html, body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    background-color: rgb(255, 255, 255);
}

.centrado {
    text-align: center;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
} 

